
.career-bg {
    background-image: url("/img/career-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.career-top-bg {
    background-image: url("/img/light.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.career-bottom-bg {
    background-image: url("/img/chair-shadow.png");
    background-size: 100%;
    background-repeat: no-repeat; 
}
.job-des p{ 
    padding-bottom: 20px;
}

.job-des h1 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}

.job-des h2 {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
}

.job-des h3 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}
.job-des h4 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
}
.job-des ul {
    list-style: unset;
    margin-left: 40px;
    padding-bottom: 20px;
}