.cover-image-3{
    background-image: url("/public/img/Landing-Page/Automotive.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}