@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
.font-plus-jakarta {
    font-family: "Plus Jakarta Sans";
}
.back{
    border-radius: 12px;
background: linear-gradient(90deg, #F5F2ED 0.11%, #F4F5F0 52.04%, #EDF5F3 99.82%, #EDF5F3 99.82%);
}